body{
    background-image: url("img/bcgd.jpg");
}

main{
    min-width: 25%;
}

.image{
    display: flex;
    justify-content: center;
}

h3{
    color: white;
}

.bloc1{
    height: 100px;
}

.audio{
    padding-left: 100px;

}